@font-face {
  font-family: 'LuculentRegular';
  src: url('../public/fonts/luculent.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LuculentItalic';
  src: url('../public/fonts/luculenti.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bold';
  src: url('../public/fonts/bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'medium';
  src: url('../public/fonts/medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
